.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

report-cards/.idea/
report-cards/venv/
.idea/

# Documents to store locally
docs/

# PDFs
data/manual/crossreg/pdfs/

# Communication materials
communication-materials/materials/
communication-materials/templates/signature-letter.pdf
